[submodule "modbus_tcp_rtu_converter/jsmn"]
	path = modbus_tcp_rtu_converter/jsmn
	url = https://github.com/zserge/jsmn
[submodule "modbus_tcp_rtu_converter/libmodbus"]
	path = modbus_tcp_rtu_converter/libmodbus
	url = https://github.com/stephane/libmodbus.git