[Unit]
Description=Modbus TCP/RTU converter
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/.modbus_converter/modbus_converter
Restart=always
RestartSec=5s
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
