hr {
    border: 1px solid grey;
    width: 50%;
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: 12px;
}

.root-container {
    text-align: center;
}

.video-stream {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stream-controls-btns {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 20px;
}

.main-controls-container-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
}

.battery-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battery-level {
    position: relative;
    width: 25px;
    height: 100px;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    overflow: hidden;
}

.battery-fill {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: #00e09d;
    transition: height 0.5s ease;
}

.battery-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
}

.main-controls-btns {
    margin-left: 15px;
}

.main-contol-btns-table {
    border: none;
    align-items: center;
}

th, td {
    padding: 3px;
}

.light-alarm-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light-controls-btns {
    display: flex;
    justify-content: left;
}

.alarm-controls-btn {
    display: flex;
    justify-content: right;
}

#light-plus-btn {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    border-radius: 50%;
    padding: 0px;
    line-height: 0px;
}

#light-minus-btn {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    border-radius: 50%;
    padding: 0px;
    line-height: 0px;
}

#video-4k-btn {
    width: 60px;
    margin-right: 0px;
}

#video-1080p-btn {
    width: 60px;
    margin-left: 0px;
}

#arrow-up-btn {
    width: 90px;
    height: 40px;
    text-align: center;
    align-items: center;
}

#arrow-left-btn {
    width: 58px;
    height: 80px;
    text-align: center;
    align-items: center;
}

#arrow-right-btn {
    width: 58px;
    height: 80px;
    text-align: center;
    align-items: center;
}

#arrow-down-btn {
    width: 90px;
    height: 40px;
    text-align: center;
    align-items: center;
}

#home-btn {
    width: 40px;
    height: 30px;
    font-size: 18px;
    margin-right: 5px;
    padding: 0px;
    line-height: 0px;
}

#focus-plus-btn-step {
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    padding: 0px;
    line-height: 0px;
    font-size: 12px;
}

#focus-plus-btn-continue {
    width: 50px;
    height: 50px;
}

#focus-minus-btn-step {
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    padding: 0px;
    line-height: 0px;
    font-size: 12px;
}

#focus-minus-btn-continue {
    width: 50px;
    height: 50px;
}

#alarm-btn {
    width: 80px;
    height: 30px;
    font-size: 12px;
    padding: 0px;
    line-height: 0px;
}

#work-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#stream {
    object-fit: cover;
}

.btn:active,
.btn:hover {
    color: #000;
}

.FixMobileHover:hover {
    background-color: inherit;
    text-decoration: none;
}
