<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Favicon icon -->
        <link href="/static/images/favicon.ico" rel="icon">

        <title>Microscope controller</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="/static/css/styles.css" rel="stylesheet">

        <!-- JS -->
        <script src="https://kit.fontawesome.com/49bf9db09b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="/static/scripts/video_control.js"></script>
        <script src="/static/scripts/buttons_control.js"></script>
        <script src="/static/scripts/get_battery_level.js"></script>

        <!-- Resize script for different devices and window sizes -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {

                /* Set stream window size */
                document.getElementById("stream").width = window.innerWidth;
                document.getElementById("stream").height = (window.innerHeight * 0.62);

                console.log("Video size = " + document.getElementById("stream").width + "x" + document.getElementById("stream").height);

                /* RESIZE ELEMENTS */
                window.addEventListener('resize', function() {
                    if (window.innerWidth > 800) {
                        document.querySelector(".stream-controls-btns").style.justifyContent = "center"
                        document.querySelector(".main-controls-container-layout").style.justifyContent = "center"
                        document.querySelector(".light-alarm-container").style.justifyContent = "center"
                        document.querySelector(".light-controls-container").style.marginRight = "50px"
                        document.querySelector(".alarm-controls-btn").style.marginLeft = "50px"
                        document.querySelector("focus-plus-btn").style.marginRight = "50px"
                        document.querySelector("focus-minus-btn").style.marginLeft = "50px"
                    } else {
                        document.querySelector(".stream-controls-btns").style.justifyContent = "space-between"
                        document.querySelector(".main-controls-container-layout").style.justifyContent = "space-between"
                        document.querySelector(".light-alarm-container").style.justifyContent = "space-between"
                        document.querySelector(".light-controls-container").style.marginRight = "0px"
                        document.querySelector(".alarm-controls-btn").style.marginLeft = "0px"
                        document.querySelector("focus-plus-btn").style.marginRight = "0px"
                        document.querySelector("focus-minus-btn").style.marginLeft = "0px"
                    }
                });

                if (window.innerWidth > 800) {
                    document.querySelector(".stream-controls-btns").style.justifyContent = "center"
                    document.querySelector(".main-controls-container-layout").style.justifyContent = "center"
                    document.querySelector(".light-alarm-container").style.justifyContent = "center"
                    document.querySelector(".light-controls-container").style.marginRight = "50px"
                    document.querySelector(".alarm-controls-btn").style.marginLeft = "50px"
                    document.getElementById("focus-plus-btn").style.marginRight = "50px"
                    document.getElementById("focus-minus-btn").style.marginLeft = "50px"
                } else {
                    document.querySelector(".stream-controls-btns").style.justifyContent = "space-between"
                    document.querySelector(".main-controls-container-layout").style.justifyContent = "space-between"
                    document.querySelector(".light-alarm-container").style.justifyContent = "space-between"
                    document.querySelector(".light-controls-container").style.marginRight = "0px"
                    document.querySelector(".alarm-controls-btn").style.marginLeft = "0px"
                    document.getElementById("focus-plus-btn").style.marginRight = "0px"
                    document.getElementById("focus-minus-btn").style.marginLeft = "0px"
                }

                // Get config from server
                var request = new XMLHttpRequest()
                request.onload = function() {
                    console.log("SOC pol time = " + request.response["modbus_soc_polling_period_ms"] + "ms");
                    console.log("Repeat Modbus cmd time = " + request.response["modbus_repeat_cmd_period_ms"] + "ms");
                    console.log("Initial bat level = " + request.response["initial_bat_level"] + "%");

                    // SOC POLLING TIME
                    if (request.response["modbus_soc_polling_period_ms"]) {
                        get_battery_level_start(Number(request.response["modbus_soc_polling_period_ms"]));
                    } else {
                        console.log("[ERR] obtainning battery polling period ms");
                    }

                    // MODBUS REPEAT SEND PERIOD TIME
                    if (request.response["modbus_repeat_cmd_period_ms"]) {
                        button_control_set_poll_time(Number(request.response["modbus_repeat_cmd_period_ms"]));
                    } else {
                        console.log("[ERR] obtainning battery polling period ms");
                    }

                    // INITIAL BATTERY LEVEL
                    if (request.response["initial_bat_level"]) {
                        document.querySelector(".battery-fill").style.height = request.response["initial_bat_level"] + "%";
                        document.querySelector(".battery-percentage").innerHTML = request.response["initial_bat_level"] + "%";
                    } else {
                        console.log("[ERR] obtainning battery status failed");
                    }
                }

                // Send a request
                request.responseType = 'json';
                request.open("GET", "/get_conf", true);
                request.send();
            });
        </script>
    </head>
    <body>
        <header>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>
        <footer hidden>
            <i>
                &copy; 2024
                Microscope Modbus controller
            </i>
        </footer>
    </body>
</html>
